version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: uk_weather_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
